*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: Arial;
}
#container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid black;
    background: lightblue;
}
header{
    width: 1182px;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    z-index: 1000;
    flex-direction: column;
}
header img{
    max-width: 40px;
    max-height: 40px;
}
#btn-menu{
    display: none;
}
header label{
    display: none;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-right: 1px solid #fff;
}
header label:hover{
    cursor: pointer;
}
.menu{
    width: 80%;
    position: fixed;
    background: black;
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}
.menu li{
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid white;
}
.menu li:hover{
    background: rgba(47, 0, 255, 0.521);
}
.menu li a{
    display: block;
    padding: 15px 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.banner{
    position: relative;
    width: 100%;
    height: calc(50vh - 50px);
    margin-top: 5%;
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url('./img/fondo1.jpg');
    animation: banner 15s infinite linear;
}
.banner-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgb(104, 103, 103,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content h1{
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-align: center;
}
@keyframes banner{
    0%{
        background-image: url('./img/fondo1.jpg');
    }
    33%{
        background-image: url('./img/fondo1.jpg');
    }
    34%{
        background-image: url('./img/fondo2.jpg');
    }
    66%{
        background-image: url('./img/fondo2.jpg');

    }
    67%{
        background-image: url('./img/fondo3.jpg');
    }
    100%{
        background-image: url('./img/fondo3.jpg');
    }
}
.RESUMEN{
    margin-top: 1%;
    width: 100%;
    padding: 5%;
}
.RESUMEN div{
    width: 100%;
    margin: 3%;
    padding: 1%;
    margin-bottom: 0%;
    position: relative;
    padding-bottom: 35%;

}
.RESUMEN #imagen{
    margin: 1%;
    float: right;
    padding-left: 3px;
    padding-bottom: 4%;
    width: 40%;
    height: 50%;
}
.RESUMEN #text{
    top: 10%;
    width: 60%;
    margin: 3%;
    padding-bottom: calc(5% - 100px);
    padding-top: calc(5%-100px);
    position: absolute;
    text-align: justify;
    font-size: 22px;
}
.RESUMEN #text2{
    top: 60%;
    width: 90%;
    padding-bottom: calc(5% - 100px);
    padding-top: calc(5%-100px);
    margin-bottom: 80%;
    position: absolute;
    text-align: justify;
    font-size: 22px;
}
.INICIO{
    margin-top: 1%;
    width: auto;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.INICIO p{
    padding-left: 5%;
    padding-top: 2%;
    font-size: 22px;
}
#content{
    width: 100%;
    float: auto;
    padding: 20px;
    font-size: 17px;
}
#content h2{
    margin-top: 1%;
    width: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 3%;
}
#content div{
    width: auto;
    margin: 3%;
    padding: 2%;
    margin-bottom: 5%;
    position: relative;
    padding-bottom: 18%;
    background-color: rgb(230, 126, 126);
    padding-right: 0px;
}
details{
    width: 60%;
    height: auto;
    background: rgba(0, 128, 0, 0);
}
#content #imagen{
    margin: 10px;
    float: right;
    padding-bottom: 40px;
    background: rgba(0, 0, 0, 0);
}
#content #textdd{
    top: 32%;
    width: 65%;
    margin: 0%;
    padding-bottom: calc(5% - 100px);
    padding-top: calc(5%-100px);
    position: absolute;
    text-align: justify;
    background: rgba(255, 255, 255, 0);
}
img{
    height: 80%;
    width: 95%;
    max-width: 280px;
    max-height: 220px;
    float: right;
    margin-left: 15px;
    border-radius: 5px;
    margin-top: 9%;
}

summary{
    width: 100%;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2%;
    margin: 2%;
    outline: none;
    list-style-type: none;
    cursor: pointer;
}

dd{
    width: 93.5%;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(172, 173, 102);
    margin-left: -1.5%;
}

details[open] summary{
    background-color: #ca813c;
}
@media (max-width: 1260px){
    .INICIO p{
        font-size: 21px;
    }
    #content #imagen{
        margin-top: -25px;
    }
    summary{
        font-size: 25px;
    }
    dd{
        font-size: 20px;
        margin-left: -1.5%;
        margin-right: -10%;
    }
}
@media (max-width: 1201px){

    .INICIO p{
        font-size: 20px;
    }

    summary{
        font-size: 20px;
    }
    dd{
        font-size: 18px;
        margin-left: -1.5%;
        margin-right: -10%;
    }
}

@media (max-width: 1008px){
    .INICIO p{
        font-size: 18px;
    }
    #content #imagen{
        width: 35%;
    }
    summary{
        font-size: 15px;
    }
    dd{
        font-size: 12px;
        margin-left: -1.5%;
        margin-right: -10%;
    }
}
.titvideo{
    margin-top: 1%;
    width: auto;
    padding: 5%;
}
.titvideo #text{
    padding-top: 1%;
    font-size: 22px;
}
#video{
    position: relative;
    overflow: hidden;
    padding-top: 45%;
    width: 80%;
    margin-left: 10%;
}
#video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.TABLA{
	background: lightblue;
    padding-bottom: 2%;
}
.TABLA h1{
    margin-top: 1%;
    width: auto;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}
table{
    margin-top: 30px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-image: linear-gradient(to left, rgb(64, 148, 106),white);
    box-shadow: 5px 5px 5px gray;
}
table h1{
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
th{
    background-color: black;
    color: white;
}
caption{
    padding-top: 20px;
    font-style: italic;
    font-size: 30px;
}
td,th{
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.FORMULARIO{
    width: 100%;
}
form{
    margin-top: 0%;
    padding: 5%;
}
form ul li{
    list-style: none;
    margin-top: 1.5%;
    margin-left: 2%;
}
#tap1 div{
    width: 80%;
    display: inline-flex;
    margin-right: 4%;
    justify-content: flex-start;
}
input{
    background: none;
    color: #645656;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid;
}

label{
    font-size: 20px;
    font-style: italic;
}
select{
    cursor: pointer;
    padding: 0.5%;
    margin-left: 2%;
}
#SO{
    margin-top: 1.5%;
    margin-bottom: 0.5%;
}
button{
    font-family: 'roboto';
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);
    border: none;
    width: 20%;
    color: #fff;
    height: 40ps;
    font-size: 25px;
    cursor: pointer;
	margin-left: 1.5%;
}
#botones{
    padding-top: 1.5%;
    padding-bottom: 1%;
}
footer{
    border-top: 2px solid black;
    background: #000000;
    opacity: 0.9;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: flex-start;
}
footer p{
    color: #ffffff;
    margin-left: 8px;
    margin-right: 5px;
    font-weight: bolder;
}
#foot a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 5px;
    margin-left: 5px;
}

@media (max-width: 1175px){
    .RESUMEN h1{
        font-size: 25px;
    }
    .RESUMEN #imagen{
        width: 35%;
        height: 45%;
    }
    .RESUMEN #text{
        width: 58%;
        font-size: 20px;
    }
    .RESUMEN #text2{
        font-size: 20px;
    }
    .INICIO h1{

    }
    .INICIO p{
        font-size: 2px;
    }
    .titvideo h1{
        font-size: 25px;
    }
    .titvideo #text{
        font-size: 20px;
    }
    .TABLA h1{
        font-size: 25px;
    }
    td,th{
        font-size: 15px;
    }
    caption{
        font-size: 25px;
    }
    input{
        font-style: 14px;
    }
    label{
        font-size: 18px;
    }
    button{
        font-size: 20px;
    }
}
@media (max-width: 1000px){
    header label{
        display: block;
    }
    .menu{
        cursor: absolute;
        background: #23ecb0;
        opacity: 1;
        width: 200px;
        margin-left: -100%;
        transition: all 0.5s;
        position: absolute;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid white;
    }
    .menu nav{
        padding-top: 200px;
        margin-top: 50px;
        line-height: 100px;
    }
    #btn-menu:checked ~ .menu{
        margin: 0;
    }
    .RESUMEN h1{
        font-size: 23px;
    }
    .RESUMEN #imagen{
        width: 30%;
        height: 40%;
    }
    .RESUMEN #text{
        width: 60%;
        font-size: 17px;
    }
    .INICIO h1{
        font-size: 28px;
    }
    .INICIO p{
        font-size: 20px;
    }
    .RESUMEN #text2{
        font-size: 17px;
    }
    .titvideo h1{
        font-size: 23px;
    }
    .titvideo #text{
        font-size: 17px;
    }
    .TABLA h1{
        font-size: 23px;
    }
    td,th{
        font-size: 13px;
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    caption{
        font-size: 22px;
    }
    input{
        font-style: 12px;
    }
    label{
        font-size: 16px;
    }
    button{
        font-size: 18px;
    }
}
@media (max-width:768px){
    .banner{
        height: 60vh;
    }
    .banner-content h1{
        padding-top: 8.5rem;
        font-size: 3.25rem;
    }
    footer p{
        height: 20px;
        font-size: 15px;
        margin-left: 5px;
        margin-right: 2px;
    }
    #foot a{
        height: 20px;
        font-size: 90%;
        flex-direction: column;
        margin-right: 3px;
        margin-left: 3px;
    }
    footer{
        height: 30px;
        line-height: 30px;
    }
    .RESUMEN h1{
        font-size: 18px;
    }
    .RESUMEN #imagen{
        margin-top: 10px;
        width: 25%;
        height: 35%;
        margin-bottom: 100px;
    }
    .RESUMEN #text{
        font-size: 13px;
        width: 68%;
    }
    .RESUMEN #text2{
        font-size: 13px;
    }
    .INICIO h1{
        font-size: 26px;
    }
    .INICIO p{
        font-size: 18px;
    }
    .titvideo h1{
        font-size: 18px;
    }
    .titvideo #text{
        font-size: 13px;
    }
    .TABLA h1{
        font-size: 18px;
    }
    td,th{
        font-size: 11px;
    }
    caption{
        font-size: 20px;
    }
    input{
        font-style: 11px;
    }
    label{
        font-size: 14px;
    }
    button{
        font-size: 15px;
    }
}
@media (max-width: 650px){
    td,th{
        font-size: 10px;
    }
    caption{
        font-size: 18px;
    }
    input{
        font-style: 10px;
    }
    label{
        font-size: 13px;
    }
    button{
        font-size: 13px;
    }
}
@media (max-width: 587px){
    .RESUMEN h1{
        font-size: 13px;
    }
    .RESUMEN #imagen{
        width: 22%;
        height: 22%;
        margin-bottom: 100px;
        margin-top: 12px;
    }
    .RESUMEN #text{
        font-size: 10px;
        width: 70%;
    }
    .RESUMEN #text2{
        font-size: 10px;
    }
    .INICIO h1{
        font-size: 24px;
    }
    .INICIO p{
        font-size: 16px;
    }
    .titvideo h1{
        font-size: 13px;
    }
    .titvideo #text{
        font-size: 10px;
    }
    .TABLA h1{
        font-size: 13px;
    }
    td,th{
        font-size: 9px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    caption{
        font-size: 15px;
    }
    .FORMULARIO{
        width: 100%;
    }
    input{
        font-style: 9px;
    }
    label{
        font-size: 11px;
    }
    button{
        font-size: 12px;
    }
}
@media (max-width:470px){
    .RESUMEN h1{
        font-size: 8px;
    }
    .RESUMEN #imagen{
        width: 20%;
        height: 20%;
        margin-bottom: 100px;
        margin-top: 12px;
    }
    .RESUMEN #text{
        font-size: 8px;
        width: 72%;
    }
    .RESUMEN #text2{
        font-size: 6px;
    }
    .INICIO h1{
        font-size: 22px;
    }
    .INICIO p{
        font-size: 14px;
    }
    .titvideo h1{
        font-size: 8px;
    }
    .titvideo #text{
        font-size: 6px;
    }
    .TABLA h1{
        font-size: 8px;
    }
    td,th{
        font-size: 7px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    caption{
        font-size: 12px;
    }
    input{
        font-style: 7px;
    }
    label{
        font-size: 12px;
    }
    button{
        font-size: 9px;
    }
    footer{
        height: 34px;
        line-height: 30px;
    }
    footer p{
        height: 20px;
        font-size: 13px;
        margin-left: 1px;
        margin-right: 1px;
    }
    #foot a{
        height: 20px;
        font-size: 70%;
        flex-direction: column;
        margin-right: 3px;
        margin-left: 3px;
    }
}
@media(max-width:364px){
    .RESUMEN h1{
        font-size: 8px;
    }
    .RESUMEN #imagen{
        width: 18%;
        height: 18%;
        margin-bottom: 100px;
        margin-top: 10px;
    }
    .RESUMEN #text{
        font-size: 6px;
        width: 74%;
    }
    .RESUMEN #text2{
        font-size: 6px;
    }
    .titvideo h1{
        font-size: 8px;
    }
    .titvideo #text{
        font-size: 6px;
    }
    .TABLA h1{
        font-size: 8px;
    }
    td,th{
        font-size: 6px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    caption{
        font-size: 10px;
    }
    input{
        font-style: 6px;
    }
    label{
        font-size: 11px;
    }
    button{
        font-size: 7px;
    }
    footer{
        height: 25px;
        line-height: 25px;
    }
    footer p{
        height: 20px;
        font-size: 12px;
        margin-left: 0.6;
        margin-right: 0.6;
    }
    #foot a{
        height: 15px;
        font-size: 55%;
        flex-direction: column;
        margin-right: 3px;
        margin-left: 3px;
    }
}
@media (max-width: 313px){
    footer{
        height: 20px;
        line-height: 20px;
    }
    footer p{
        height: 20px;
        font-size: 10px;
        margin-left: 0.6;
        margin-right: 0.6;
    }
    #foot a{
        height: 15px;
        font-size: 50%;
        flex-direction: column;
        margin-right: 3px;
        margin-left: 3px;
    }
}